@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards div {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.basic {
  border-radius: 9px 0 0 9px;
}

.master {
  border-radius: 0 9px 9px 0;

}

.basic,
.master {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#button:hover {
  background-color: #7e7ecc;
}

@media only screen and (max-width: 640px) {

  .basic,
  .master {
    border-radius: 9px;
  }
}


.cards p {}